#add-box {
    padding: 0 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: transparent;
    grid-area: add;
}

.sticky {
    position: sticky;
    top: 2em;
    min-height: 2em;
}

#add-box__note-title {
    width: 10rem;
    margin-bottom: 5%;
    font-family: $textFont;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $darkColor;
}

#add-box__note-input {
    width: 15rem;
    height: 5rem;
    margin-bottom: 5%;
    font-family: $textFont;
    background-color: transparent;
    border: 2px dashed $darkColor;
    border-radius: 8px;
    overflow-y: scroll;
}

.add-box__title {
    font-family: $titleFont;
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    color: $darkColor;
}

#add-box__button {
    width: 10.2rem;
    height: 3rem;
    background: $accentColor;
    border-radius: 8px;
    border: none;
    font-family: $titleFont;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    color: $lightColor;
}