@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

// FONT

$titleFont: "Playfair Display",
serif;
$textFont: 'Mulish',
sans-serif;

//COLORS

$accentColor: rgba(242, 208, 92, 0.9);
$darkColor: #53889D;
$lightColor: rgb(249, 249, 251);
$lightColor2: #BBD1D9;
$textColor: rgb(125, 121, 135);
//$gradientColor: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
$gradientColor: linear-gradient(270deg, #53889D 0%, #BBD1D9 100%);