@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
}

body {
    padding-bottom: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "title title title title""add notes notes notes";
    background-image: url("../images/leaves.jpg");
    background-attachment: fixed;
    background-color: #032407;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    color: #f9f9fb;
}

a,
button {
    cursor: pointer;
}

#head-title {
    margin-right: 3.5rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: title;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    text-align: end;
    color: #f2d05c;
    background-color: transparent;
}

#add-box {
    padding: 0 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: add;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    min-height: 2em;
}

#add-box__note-title {
    width: 10rem;
    margin-bottom: 5%;
    font-family: "Mulish", sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f9f9fb;
    color: #f9f9fb;
}

#add-box__note-input {
    width: 15rem;
    height: 5rem;
    margin-bottom: 5%;
    font-family: "Mulish", sans-serif;
    background-color: transparent;
    border: 2px dashed #f9f9fb;
    border-radius: 8px;
    overflow-y: scroll;
    color: #f9f9fb;
}

.add-box__title {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    color: #f9f9fb;
}

#add-box__button {
    width: 10.2rem;
    height: 3rem;
    display: flex;
    background: rgba(242, 208, 92, 0.8);
    border-radius: 8px;
    border: none;
}

.btn__link {
    margin: auto;
}

#notes-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: notes;
    background-color: transparent;
}

#notes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap-reverse;
    flex-flow: row-reverse wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.note {
    width: 15em;
    height: 15em;
    margin: 2rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    overflow-y: scroll;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#note-title {
    margin-top: 0;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #f9f9fb;
    border-bottom: 0.5px solid #f9f9fb;
}

#note-text {
    margin-top: 0;
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #f9f9fb;
}

#note-btn {
    width: 35px;
    height: 35px;
    margin: auto 0 0 auto;
    border: none;
    background-color: transparent;
}

#note-btn img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

#notes-box__button_clear,
.submit {
    height: 2rem;
    background: #f9f9fb;
    border: none;
    border-radius: 8px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    color: #7d7987;
}

#notes-box__button_clear {
    width: 7rem;
    margin: 2% 5% 0 auto;
}

.submit {
    width: 5rem;
    margin-left: auto;
}

.modal {
    position: fixed;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: 0.2s ease-in;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal:target {
    opacity: 1;
    top: 0;
    pointer-events: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    margin: 10% auto;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.192);
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    padding: 2rem;
    border-radius: 5px;
    background: rgba(242, 208, 92, 0.8);
}